@{
    ViewData["Title"] = "Contactanos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
  Oscar Armando Orjuela<br />
    Empresario<br />
    <abbr title="Phone">Cel:</abbr>
   310 341 3418
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Areneraab2@gmail.com</a><br />
    
</address>
<address>
    LOCALIZACION:<br />
    Vda.ChorroBlancoAlto-Sector Areneras<br />
    <abbr title="Phone">Cel:</abbr>
    310 341 3418
</address>
